<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httpfunctionappkabeer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/244db0b6-43b9-4c0d-8ba3-0e69d873f045/resourcegroups/DefaultResourceGroup-EA/providers/Microsoft.Web/sites/HttpFunctionAppKabeer</ResourceId>
    <UserName>$HttpFunctionAppKabeer</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://httpfunctionappkabeer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>