<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappkabeer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/798705ab-fd3d-4e0b-a3b7-56fcc20679ed/resourceGroups/ITS/providers/Microsoft.Web/sites/FunctionAppKabeer</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://functionappkabeer.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlEXZSbSWGU+MZm1lrh4dewAAAAACAAAAAAAQZgAAAAEAACAAAABkc/nO9J7s5n8NFXu/E1dWiPsbxz5d5jGkc2chBUKBywAAAAAOgAAAAAIAACAAAAAMvkrtPdEErbSZnulYD2+b+Ir1dNMWC8h8vBzKi9u/HyAAAABL6TGJV8aw0ciEqiFJ6mqPUCkMaHya9uUftEcpYbn1x0AAAABp0vWinuJvPj9INS0rFHtj7ygo3+MTK7xPD4illvKoZXy3oGsdcg3AFpTYvx8XKtfPvWfOTWcUx+SohPtuUtdk</EncryptedPassword>
    <History>False|2024-08-23T11:37:56.6463250Z||;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>