<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sumfunctionapp20240823163851.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/798705ab-fd3d-4e0b-a3b7-56fcc20679ed/resourcegroups/ITS/providers/Microsoft.Web/sites/SumFunctionApp20240823163851</ResourceId>
    <UserName>$SumFunctionApp20240823163851</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://sumfunctionapp20240823163851.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>